:host {
    .btn-close {
        background-color: white !important;
    }
}

.task-info-form-field {
    padding-bottom: 15px;
    text-align: left;
    width: 450px;
}

.form-task-info-controls {
    justify-content: flex-end;
}


