
.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 100px auto 0;


    input {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: black;
        margin: 10px auto 0;
    }
}


.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}
