<form class='container' [formGroup]='regForm' (submit)='registration()'>
    <h2>Registration</h2>

    <mat-error *ngIf='regForm.hasError("conflict")'>
        Such a user already exists
    </mat-error>

    <mat-form-field appearance='fill'>
        <mat-label>Name</mat-label>
        <input matInput type='text' formControlName='name'>

        <mat-error *ngIf="regForm.controls['name'].hasError('required')">
            The name field is required
        </mat-error>
        <mat-error *ngIf="regForm.controls['name'].hasError('minlength')">
            Minimum length of 5 characters
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance='fill'>
        <mat-label>Login</mat-label>
        <input matInput type='text' formControlName='login'>

        <mat-error *ngIf="regForm.controls['login'].hasError('required')">
            The login field is required
        </mat-error>
        <mat-error *ngIf="regForm.controls['login'].hasError('minlength')">
            Minimum length of 5 characters
        </mat-error>
    </mat-form-field>


    <ng-container formGroupName='pass'>

        <mat-form-field appearance='fill'>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName='password'>
            <button mat-icon-button matSuffix (click)='hide = !hide' type='button' [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]='hide'>
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="regForm.get('pass').get('password').hasError('required')">
                The password field is required
            </mat-error>
            <mat-error *ngIf="regForm.get('pass').get('password').hasError('minlength')">
                Minimum length of 5 characters
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance='fill'>
            <mat-label>Confirm your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName='confirmPassword'>
            <button mat-icon-button matSuffix (click)='hide = !hide' [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]='hide'>
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="regForm.get('pass').get('confirmPassword').hasError('required')">
                The password field is required
            </mat-error>
            <mat-error *ngIf="regForm.get('pass').get('confirmPassword').hasError('minlength')">
                Minimum length of 5 characters
            </mat-error>

        </mat-form-field>
        <mat-error *ngIf="regForm.get('pass').hasError('confirmInvalid')">
            Confirm password wrong
        </mat-error>
    </ng-container>


    <button mat-raised-button color='warn' type='submit'>Registration</button>

    <a routerLink='../sign-in'>Back</a>
</form>
