.title-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.column {
    border: solid 1px rgba(192, 192, 192, 0.27);
    border-radius: 6px !important;
    padding: 10px;
    min-width: 350px;
    max-width: 350px;
    background-color: #dbcfc1;
    margin-right: 16px;
    height: calc(100vh - 500px);
    overflow: auto;

    button {
        margin-bottom: 10px;
    }

}

