<div class='title-column'>
    <h3 [style.color]='"#14213d"'>Title: {{column.title}}</h3>

    <button mat-mini-fab (click)='onDeleteColumn(column)'>
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class='column'>
    <button mat-mini-fab (click)='onAddTask(column)'>
        <mat-icon>add</mat-icon>
    </button>

    <div class='tasks'>
        <p *ngIf='!column.tasks.length; else tasks'>Task list is empty</p>
    </div>

    <ng-template #tasks>
        <app-task *ngFor='let task of column.tasks'
                  [task]='task'
                  (deleteTask)='deleteTask.emit({task, columnId:column.id})'
                  (showTask)='onShowTask($event)'>
        </app-task>
    </ng-template>
</div>
