:host {
    margin-right: 20px;
    border-radius: 20px;
    height: 85%;
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
    overflow: hidden;
}

.title-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .column-title {
        color: #14213d;
        font-size: 22px;
        margin: 0;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
    }
}

.column {
    border: solid 1px rgba(192, 192, 192, 0.27);
    border-radius: 6px !important;
    padding: 10px;
    min-width: 350px;
    max-width: 350px;
    background-color: #dbcfc1;
    height: 100%;
    overflow-y: scroll;
    max-height: 85%;

    .tasks {
        text-align: center;
    }

    button {
        margin-bottom: 10px;
    }
}

.btn-form-column {
    text-transform: capitalize;
    padding: 0;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.example-list {
    min-height: 60px;
    border-radius: 4px;
    overflow: hidden;
    display: block;

}

.example-box {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.column-form-input {
    display: block;
    width: 100%;
    height: 24px;
    background-color: #efefef;
    border: solid 1px #e07a5f;
    border-radius: 5px;
}
