
mat-toolbar {
    height: 10%;
    justify-content: space-between;
    background-color: #81b29a !important;

    mat-nav-list {
        display: flex;
        padding: 0;

        a {
            color: white;
            text-decoration: none;
        }

        .mat-list-item-content {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    mat-action-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;

        button {
            color: white;

            mat-icon {
                margin-right: 10px;
            }
        }

        a {
            padding-bottom: 5px;
            margin-left: 15px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            animation: border-bottom 0.3s;
            cursor: default;
            &.active {
                color: chocolate;
            }
            &:hover:not(.active) {
                border-bottom: 3px solid white;
                cursor: pointer;
            }
        }

        .locale-wrap {
            height: 100%;
            margin-left: 15px;
        }
    }
}
