
mat-toolbar {
    justify-content: space-between;
    background-color: #81b29a !important;

    mat-nav-list {
        display: flex;
        padding: 0;

        a {
            color: white;
            text-decoration: none;
        }

        .mat-list-item-content {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    mat-action-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;

        button {
            color: white;

            mat-icon {
                margin-right: 10px;
            }
        }

        a {
            padding-bottom: 5px;
            margin-left: 15px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            animation: border-bottom 0.3s;
            cursor: default;
            &.active {
                color: chocolate;
            }
            &:hover:not(.active) {
                border-bottom: 3px solid white;
                cursor: pointer;
            }
        }

        .locales-wrap {
            height: 100%;
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;
        }
    }
}

.sticky {
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    z-index: 90;
    width: 100%;
    transition: 0.5s linear;
}
