<mat-toolbar color='primary'>

    <mat-nav-list class='nav-list'>
        <a
            [routerLink]='link.route'
            routerLinkActive='selected'
            mat-list-item
            *ngFor='let link of links'
        >
            <mat-icon>{{link.icon}}</mat-icon>
            <span>{{ link.name }}</span>
        </a>

    </mat-nav-list>

    <mat-action-list aria-label>
         <button mat-list-item (click)="openDialog()">
            <mat-icon>add_box</mat-icon>
            Create new board
        </button>

        <button mat-list-item>
            <mat-icon>translate</mat-icon>
            RU/EN
        </button>

        <button mat-list-item (click)='logOut()'>
            <mat-icon>power_settings_new</mat-icon>
            logout
        </button>

    </mat-action-list>

</mat-toolbar>
