.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #f7ede2;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;

    button {
        display: block;
    }
}

.task-item-content{
    width: 80%;
    overflow: hidden;
    padding-right: 10px ;
    text-overflow: ellipsis;
    white-space: normal;

    p {
        margin: 0;
    }

}

