:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 50px 20px;
    height: 90%;
    overflow-x: scroll;
    box-sizing: border-box;


    .board-title-container {
        display: flex;
        align-items: center;
    }

    .back-btn {
        transform: scale(1.6);
        width: 50px;
        color: #e07a5f;
    }

    .columnTrue {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .columnFalse {
        display: flex;
        flex-direction: column;
    }

    button {
        margin-top: 60px;
        margin-bottom: 20px;
        min-width: 200px;
        font-size: 20px;
        height: inherit;
        margin-right: 20px;

        &.emptyBtn {
            margin: 20px auto 0;
            height: 40px;
            width: 20px;
        }

        &.fullBtn {
            width: 200px;
            height: 150px;
        }

    }

    .column-wrap {
        display: flex;
        flex-direction: row;
        height: 100%;

    }

    .empty {
        margin: 150px auto 0;
        width: 100px;
    }
}
